:root {
  --foob-yellow: #fefae0;
  --foob-brown-light: #dda15e;
  --foob-brown-dark: #bc6c25;
  --foob-green-light: #606c38;
  --foob-green-dark: #283618;
}

.color1 {
  background-color: var(--foob-yellow);
}

.color2 {
  background-color: var(--foob-brown-light);
}

.color3 {
  background-color: var(--foob-brown-dark);
}

.color4 {
  background-color: var(--foob-green-light);
}

.color5 {
  background-color: var(--foob-green-dark);
}

.App {
  text-align: center;
  background-color: var(--foob-yellow);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
