.footer {
  padding: 0 1rem 1rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 1rem;
  color:#fff;
  transition: background-color 0.3s;
  background-color: var(--foob-green-dark);
  padding: 1rem 1.3rem;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-icons a:hover {
  background-color: var(--foob-green-light);
}
